nav {
  background-color: var(--mat-sys-primary-container);
  color: white;
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  .half {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav-search {
    width: 100%;
  }
}
