<div class="auth-container">
  <form>
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required />
    </mat-form-field>

    @if (email.invalid) {
    <mat-error>{{ email }}</mat-error>
    }

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" required />
    </mat-form-field>

    @if (username.invalid) {
    <mat-error>{{ username.getError }}</mat-error>
    }

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required />
      <mat-hint></mat-hint>
    </mat-form-field>

    @if (password.errors) {
    <mat-error>Password is required</mat-error>
    }

    <button type="submit" mat-flat-button (click)="register()">Sign up</button>
  </form>

  <div class="divider-group">
    <mat-divider class="divider"></mat-divider>
    OR
    <mat-divider class="divider"></mat-divider>
  </div>

  <div class="oauth2">
    Sign up with
    <button mat-fab extended color="primary">GitHub</button>
  </div>
</div>
