.auth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
}
