<div class="auth-container">
  <form>
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email"required>
    </mat-form-field>
  
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required>
      <mat-hint></mat-hint>
    </mat-form-field>
  
    @if (!!error) {
      <mat-error>{{error}}</mat-error>
    }
  
    <button type="submit" mat-flat-button (click)="login()">Sign in</button>
  
  </form>
  
  
  <div class="divider-group">
    <mat-divider class="divider"></mat-divider>
    OR
    <mat-divider class="divider"></mat-divider>
  </div>
  
  <div class="oauth2">
    Sign up with
    <button mat-fab extended color="primary">
      <mat-icon>
      </mat-icon>  
      GitHub
    </button>
  </div>
</div>