<div class="auth-container">
  <form>
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email"required>
    </mat-form-field>
  
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" required>
    
    </mat-form-field>
  
    <button type="submit" mat-flat-button (click)="login()">Sign in</button>
  
  </form>
  
  
  <div class="divider-group">
    <mat-divider class="divider"></mat-divider>
    OR
    <mat-divider class="divider"></mat-divider>
  </div>
  
  <app-oauth></app-oauth>
</div>