.entries {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .entry {
    position: relative;
    display: grid;
    grid-template-columns: 1fr calc(50% - 0.5em);
    grid-row: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;

    .image {
      grid-row: 1 / span 3;
      grid-column: 2;

      img {
        max-height: 240px;
        object-fit: contain;
      }
    }
  }
}
