<mat-stepper orientation="horizontal" #stepper>
  <mat-step [stepControl]="quizDetailsForm">
    <ng-template matStepLabel>Details</ng-template>
    <form [formGroup]="quizDetailsForm">
      <mat-form-field appearance="outline" class="form-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Best ..."
          formControlName="title"
          name="title"
          maxlength="50"
          required
        />
        <mat-hint>
          <span style="align-items: end">
            {{ quizDetailsForm.get("title")!.value!.length }}/50
          </span>
        </mat-hint>
        @if (quizDetailsForm.get('title')!.hasError('required')) {
        <mat-error> Title is required </mat-error>
        }
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="quizEntriesForm">
    <ng-template matStepLabel>Entries</ng-template>
    <form [formGroup]="quizEntriesForm">
      <div formArrayName="entries" class="entries">
        <div *ngFor="let entry of entries.controls; let i = index">
          <div [formGroupName]="i" class="entry">
            <mat-form-field
              appearance="outline"
              class="form-full-width"
            >
              <mat-label>Caption</mat-label>
              <input
                matInput
                formControlName="caption"
                name="caption"
                maxlength="50"
                required
              />
              <mat-hint>
                <span style="align-items: end">
                  {{ entry.get("caption")!.value!.length }}/50
                </span>
              </mat-hint>
              @if (entry.get('caption')!.hasError('required')) {
              <mat-error> Caption is required </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-full-width">
              <mat-label>Image</mat-label>
              <input
                matInput
                placeholder=""
                formControlName="image"
                name="image"
                required
              />
              @if (entry.get('image')!.hasError('required')) {
              <mat-error> Image is required </mat-error>
              }
            </mat-form-field>

            <button mat-fab (click)="uploadImage(i)">
              <mat-icon>upload</mat-icon>
            </button>

            <button mat-fab color="red" (click)="removeEntry(i)">
              <mat-icon>delete</mat-icon>
            </button>

            <mat-card class="image" appearance="outlined">
              @if (entry.get('image')!.value) {
              <img [src]="entry.get('image')!.value" alt="Image Preview" />
              } @else {
              <mat-icon>image</mat-icon>
              }
            </mat-card>
          </div>
        </div>
      </div>
      <button mat-button (click)="addEntry()">Add Entry</button>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div style="display: flex">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <div class="flex-spacer"></div>
      <button mat-button (click)="stepper.reset()">Create</button>
    </div>
  </mat-step>
</mat-stepper>
